* {
    font-family: sans-serif;
}

body {
    margin: 0%;
}

#header {
    position: fixed;
    width: 100%;
    z-index: 50;
}

#header1 {
    background-color: #1CD1B0;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#precio-desc {
    margin-top: 0%;
    padding-left: 20px;
    margin-bottom: 0%;
}

#heroes {
    display: flex;
    background-color: #00669F;
    height: 70px;
    margin-top: 0%;
    padding: 10px 5px 10px 20px;
}

#heroes h2 {
    font-family: sans-serif;
    font-weight:200;
    color: white;
}

#imagen-tienda {
    padding-right: 10px;
}

#header2{
    background-color: #001D2D;
}

#lista{
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    height: 30px;
    padding-top: 10px;
}

#lista li{
    padding-right: 20px;
    list-style: none;
    color: white;
}

#contenedor-principal {
    display: flex;
    justify-content: space-around;
    padding: 100px 0px 100px 60px;
}

.contenedor-personaje {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 350px;
    background-color: #F3F3F3;
    margin-top: 100px;
    box-shadow: 0px 15px 10px -15px #111;

}

.icon {
    display: flex;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    top: 150px;
    left: 125px;
}

.corazon {
    display: flex;
    position: relative;
    width: 35px;
    left: 15px;
    top: 5px;
    z-index: 20;

}

.texto {
    padding-top: 5px;
    padding-bottom: 100px;
    padding-right: 15px;
    padding-left: 15px;
}

.texto h4 {
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.fondo {
    display: flex;
    position: relative;
    width: 100%;
    top: -50px;
    z-index: 0;
}

.fondo-harley {
    display: flex;
    position: relative;
    width: 100%;
    top: -50px;
    z-index: 0;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: 225px;
}

#footer {
    background-color: #00669F;
    margin-bottom: 0px;
    margin-top: 150px;
    padding: 15px;
    color: white;
    font-weight: lighter;
}

.boton {
    display: flex;
    position: absolute;
    background-color: #00669F;
    color: white;
    width: 100px;
    justify-content: center;
    left: 120px;
    margin-top: 50px;
    padding: 5px;
    border: none;

}

.boton-mas {
    width: 80px;
    margin-top: 350px;
}
#espacio{
    height: 200px;
}

/* Form */
.form{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    background-color:#00669F;
    border-radius: 5%;
    align-items: center;
    /* justify-content: center; */
    width: 50vw;
    height: 650px;
    margin-right: 25vw;
    margin-left: 25vw;
    color: white;
    position: relative;
}
.contenido-form{
    display: flex;
    
}

.item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;

}
.box{
    border-radius: 5%;
    height: 30px;
    margin-right: 30px;
    width: 200px;
}
.box-elegir{
    border-radius: 5%;
    height: 35px;
    width: 200px;
}
label{
    margin-top: 10px;
    padding-bottom: 5px;
}
.box-archivo{
    margin-top: 20px !important;
}
.box-check{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: solid white 1px;
    padding-bottom: 10px;
}
.item-checkbox{
    padding-bottom: 5px;
}
.item p{
    font-weight: 100;
}
label{
    font-weight: 100;
}
#radio-input{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#boton-add{
    position: absolute;
    bottom: 3px;
    width: 30%;
    height: 5%;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: none;
    right: 250px;
    font-weight: bold;
    font-size: 20px;
    background-color: #1CD1B0;
}
/* Form */